.main{
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    height: 100%;
}
.page1{
   
    text-transform: uppercase;
    font-size: 5rem;
    gap: 5rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
}
.page2{
    text-transform: uppercase;
    font-size: 5rem;
    /* gap: 5rem; */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
}